<div class="projects">
    <!-- <div class="project">
        <h3>Title</h3>
        <p>Description</p>
        <p class="enddate">End date</p>
    </div>
   
    <div class="project">
        <h3>Title</h3>
        <p>Description</p>
        <p class="enddate">End date</p>
    </div>
   
    <div class="project">
        <h3>Title</h3>
        <p>Description</p>
        <p class="enddate">End date</p>
    </div> -->
   
    <!-- <div class="project">
        <h3>Title</h3>
        <p>Description</p>
        <p class="ended">Completed</p>
    </div> -->
    <div ngClass="noproject" *ngIf="projects.length<=0">
        <div ngClass="pro">
            <h3>No projects yet!</h3>
            <!-- <p>Create and assign projects to open users</p> -->
        </div>
        <a routerLink="projects/new"><button ngClass="btn">Get started</button></a>
    </div>

    <div 
    class="project" 
    *ngFor="let project of projects"
    >
        <h3>{{project.ProjectName}}</h3>
        <p>{{project.Description}}</p>
        <p>{{project.Due_date}}</p>
        <div>
            <button (click)="onDelete(project.ProjectId)" class="delete">Delete</button> <span>|</span>
            <button class="update">Update</button>
        </div>
    </div>
</div>
