<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        /* width: 100%;
        height: 100vh;*/
        display: flex;
        justify-content: center;
        text-align: center; 
    }
    main {
        width: 50%;
        margin: 0.4rem 0;
        /* display: flex;
        text-align: center; */
        flex-direction: column;
    }
    main img {
        width: 100%;
        height: auto;
    }
    h3 {
        text-align: center;
        font-size: 1.3rem;
        font-weight: 600;
        margin: 1rem 0;
    }
    p{
        margin: 0.4rem 0;
        font-size: 1.2rem;
        text-align: center;
    }
</style>
<body>
    <main>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwFLJ110-LoxB6-bo3eWlz36u7cSby_Moegg&usqp=CAU" alt="">
        <h3>Thank you for signing up</h3>
        <p>Dear <%=name%>,</p>
        <p>Sign in to see new project for start of</p>
    </main>
</body>
</html>