.table{
    background-color: #191c24;
    padding: 1.5rem;
    /* height: 10rem; */
    margin: 2rem;
    color: white;
    border-radius: 5px;
}
.clients{
    font-size: 1.2rem;
    font-weight: bold;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th{
    font-size: 0.9rem;
}

th, td {
  color: #627293;
  height: 3rem;
  /* padding: 14px; */
  text-align: left;
  border-bottom: 1px solid #2c2e33;
}

tr:hover {
    opacity: .6;
}
img{
    height: 1.9rem;
    width: 1.9rem;
    border-radius: 50%;
}
.photo{
 display: flex;
 /* justify-content: center; */
 align-items: center;
}
.photo img {
    margin-right: 0.5rem;
}
.status{
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 0.6rem;
    width: 8rem;
    height: 2rem;
}
.notassigned{
  border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 0.6rem;
    width: 8rem;
    height: 2rem; 
    color: #fc424a !important;
    /* background-color: #163029; */
    border: 1px solid #fc424a;
}
.completed{
    color: #00d25b !important;
    /* background-color: #163029; */
    border: 1px solid #00d25b;

}
.pending{
    color: #ffab00;
    border: 1px solid #ffab00;
}